{
  "ignore": ["**/*.d.ts", "**/__fixtures__/**"],
  "presets": [
    [
      "babel-preset-slick/lib",
      {
        "env": { "modules": "commonjs" },
        "runtime": { "corejs": 2 }
      }
    ]
  ]
}
